<div class="container">
    <div class="container">
    <h2 class="text-center text-info">Carga los productos</h2>
    <form action="" onsubmit="return addProd()">
        <div class="form row mt-3 justify-content-center text-center">
            <div class="col-12 col-md-6">
                <div class="my-3">
                    <label class="input h5 text-info ">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <div class="my-3">
                    <label class="input h5 text-info ">Precio</label>
                    <input type="number" name="precio" id="precio">
                </div>
                <div class="my-3">
                    <label class="input h5 text-info">Foto URL</label>
                    <input type="text" name="thumb" id="thumb">
                </div>                
                <input class="btn btn-info my-3" type="submit" value="Enviar"> 
                <a class="btn btn-danger" role="button" href="/">Volver al inicio</a>
            </div>
        </div>
    </form>
</div>
    <h2>Lista de productos:</h2>
        {{#if check}}
        <h3 class="p-3">No se encontraron productos :(</h3>
        {{else}}
            <div className="container">
                <table className="text-center">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto URL</th>
                        </tr>
                    </thead>
                    <tbody id="tableProds">

                    </tbody>
                </table>
            </div>
        {{/if}}
       
    <a class="btn btn-danger" role="button" href="/">Volver al inicio</a>
</div>
<div class="container mt-3 text-center">
    <h2>Centro de mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="email" id="email" placeholder="Tu email" name="email" > <br>
        <input type="text" id="text" placeholder="Escribe aqui..." name="text">
        <input type="submit" value="Enviar">
    </form>

    <div id="contenedor">

    </div>
</div>